@-webkit-keyframes slide-up {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-up {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 48px 24px 0 24px;
    gap: 12px;
    opacity: 0;
    -webkit-animation: appear 500ms ease-out forwards;
            animation: appear 500ms ease-out forwards;
    -webkit-animation-delay: 900ms;
            animation-delay: 900ms;
  }
  
  .items .item {
    background-color: var(--primary);
    color: black;
    padding: 24px;
    border-radius: 5px;
  }
  
  .items .item * {
    color: black;
  }

  button {
    width: 100%;
    margin-top: 12px;
    color: var(--gold);
    border-radius: 5px;
    background-color: var(--light-primary);
    border: none;
    outline: none;
    padding: 12px;
    font-weight: bold;
    -webkit-transition: 250ms ease-out;
    transition: 250ms ease-out;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(186, 168, 168);
  }

  @media screen and (min-width: 768px) {
    button {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 16px 32px;
    }
  }
  
  @media screen and (min-width: 768px) {
    button {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  
  @media screen and (min-width: 992px) {
    .items {
      -ms-grid-columns: 1fr;
          grid-template-columns: repeat(2, 1fr);
      padding: 48px var(--padding-inline-lg);
    }
  }
  